.ask-header {
  font-family: 'Lobster', cursive;
}

.ask-nav {
  font-family: 'Oswald', sans-serif;
}

.ask-text {
  font-family: 'Montserrat', sans-serif;
}

.ask-greeting {
  font-family: 'Lobster', cursive;
  font-size: 5em;
}

.ask-bq-body {
  background-color: grey;
}

.ask-bq-heading {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

.ask-bq-question {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}
.ask-bq-points {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  color: #a3a3a3;
}
